@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
body {
    background-image: url('~src/assets/Images/ImagemFlor.png');
    font-family: 'Montserrat';
    font-weight: 500;
}