#eranko-card {
    padding: 5%;
    display: flex;
    overflow-y: scroll;

    .card-item {
        margin-left: 10%;
        height: 1%;
    }
}

#detalhessom {
    margin-top: 15%;
    padding: 5px;
    border-radius: 5%;
    background-color: white;
    display: block;
    height: 400px;
    overflow-x: scroll;
    background-color: #c3f09b;

}

#imagemanimal {
    padding: 5%;
    height: 200px;
    border-radius: 5%;


}

#listaplay {
    position: relative;
    height: 100%;
    margin-top: 25px;
}

#cardplay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c3f09b;
    max-width: 40%;
    border-radius: 10px;

}

#somanimal {
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    
}